*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 100vh;
    background: url(images/bg3.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion{
    width: 60%;
    background-color: rgba(248, 248, 250, 0.8);
    padding: 30px;
    border-radius: 30px;
}

.accordion .accordion-title{
    margin-bottom: 30px;
    text-align: center;
}

.accordion .content-container .question{
    padding: 18px 0px;
    font-size: 24px;
    cursor: pointer;
    border-bottom: 1px solid #000000;

    position:relative;
}


.accordion .content-container .question::after{
    content: '+';

    position: absolute;
    right: -4px;
}

.accordion .content-container .answer{
    padding-top: 14px;
    font-size: 24px;
    line-height: 1.4;
    width: 100%;

    height: 0px;
    overflow: hidden;
    transition: .2s;
}


/* JavaScript Styling Link */
.accordion .content-container.active .answer{
    height:140px;
    font-weight: bold;
}

.accordion .content-container.active .question{
    font-size: 20px;
    transition: .2s;
}

.accordion .content-container.active .question::after{
    content: '-';
    font-size: 40px;
    transition: .2s;
}