*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    position: relative;
    height: 100vh;
    background: url(images/bg2.jpg) no-repeat center center/ cover;
}

#open-btn{
    position: absolute;
    top: 60%;
    left: 10%;
    width: 400px;
    height: 100px;
    font-size: 2rem;
    background-color: transparent;
    color:#ffffff;
    border: solid 2px #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(222, 222, 241, 0.5);
    transform: .6s;
}

#open-btn:hover{
    background-color: #ffffff;
    color: #000000;
}

#modal{
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 140px;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px rgba(222, 222, 241, 0.5);

    animation-name: animatemodal;
    animation-duration: .4s;
}

#close-btn{
    font-size: 4rem;
}

#close-btn:hover{
    cursor: pointer;
    font-size: 4rem;
    color: blue;
}

#modal-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.2);
}



/* Modal Animation */

@keyframes animatemodal {
    from {
        top: -300px;
        opacity: 0;
    }

    to{
        top: 50%;
        opacity: 1;
    }
}